* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

:root {
    --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%);
}

body {
    background: var(--Light-gray);
}

article {
    text-align: center;
}

h1 {
    font-size: 17px;
    margin: 10px;
    color: var(--Dark-blue);
    font-weight: 700;
}

p {
    font-size: 13px;
    margin: 10px;
    color: var(--Grayish-blue);
}

.container {
    width: 100%;
    max-width: 250px;
    background-color: var(--White);
    margin: 50px auto 50px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
}

img {
    height: 100%;
    width: 100%;
    border-radius: 5px;
}